.navbar {
    width: 100%;
    max-width: 100%;
    height: 122px;
    background-color: #202020;
}
.navbar .nav-container {
    display: flex;
    max-width: 90%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar .nav-container .logo-container,
.navbar .nav-container .logo-container img {
    height: 100%;
    aspect-ratio: 1;
    position: relative;
}
.navbar .nav-container .logo-container img {
    transform: translateY(61px);
    filter: drop-shadow(0 0 0.75rem #202020);
}
.navbar .nav-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav-link-container .nav-links,
.navbar .nav-link-container .nav-links > * {
    text-decoration: none;
    margin-right: 4rem;
    font-weight: 500;
    color: #FFF8FA;
    font-size: 1.1rem;
}
.navbar .nav-link-container .brand-name {
    font-size: 1.4rem;
}